body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;
    margin: 0;
    padding: 20px;
}
h1, h2, h3 {
    color: #333;
}
.dashboard {
    display: flex;
    gap:20px;
    margin-bottom: 30px;
}
.card {
    background: #ffffff;
    border-radius: 8px;
    padding:20px;
    width:70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card strong {
    font-size: 16px;
    font-weight: #555;
}
.card span {
    font-size: 24px;
    font-weight: bold;
    color: #2c7be5;
}
.form-box {
    background: #ffffff;
    padding:20px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.form-box button {
    width: 100%;
    padding: 10px;
    background: #2c7be5;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor:pointer;
}
.form-box button:hover {
    background:#1a5fd0;
}
.product {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.product strong{
    font-size: 18px;
}
.product form {
    margin-top: 10px;
}
.product input {
    padding:6px;
    width:100px;
}
.product button{
    padding: 6px 10px;
    background: #28a745;
    border:none;
    color:white;
    border-radius: 4px;
    cursor: pointer;
}
.product button:hover {
    background: #1e7e34;
}